<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Create</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Contacts Manager</a>
        <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/create">Create</a>
                  </li>
                </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container" style="padding-top: 3%; display: flex; justify-content: center;">
      <div class="col-md-6">
        <form action="/create" method="post">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputFirstName4">First Name</label>
              <input type="text" name="firstName" class="form-control" id="inputFirstName4" placeholder="First Name">
            </div>
            <div class="form-group col-md-6">
              <label for="inputLastname4">Last Name</label>
              <input type="text" name="lastName" class="form-control" id="inputLastname44" placeholder="Last Name">
            </div>
          </div>
          <div class="form-row align-items-center">
              <div class="col-auto my-1">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Add Related Name</label>
                <select class="custom-select name="addRelated" mr-sm-2" id="inlineFormCustomSelect">
                  <option selected>Choose...</option>
                  <option value="mother">Mother</option>
                  <option value="father">Father</option>
                  <option value="parent">Parent</option>
                  <option value="brother">Brother</option>
                  <option value="sister">Sister</option>
                  <option value="son">Son</option>
                  <option value="daughter">Daughter</option>
                  <option value="child">Child</option>
                  <option value="friend">Friend</option>
                  <option value="spouse">Spouse</option>
                  <option value="partner">Partner</option>
                  <option value="manager">Manager</option>
                  <option value="addCustomLabel">Add Custom Label</option>
                </select>
              </div>
              <div class="col-auto my-1">
                <div class="custom-control custom-checkbox mr-sm-2">
                  <input type="checkbox" name="favorite" class="custom-control-input" id="customControlAutosizing">
                  <label class="custom-control-label" for="customControlAutosizing">Favorite</label>
                </div>
              </div>
          </div>
          <div class="form-group">
            <label for="addPhone">Add Phone</label>
            <input type="text" name="addPhone" class="form-control" id="inputaddPhone" placeholder="xxx-xxx-xxxx">
          </div>
          <div class="form-group">
            <label for="inputEmail">Add Email</label>
            <input type="text" name="addEmail" class="form-control" id="inputEmail" placeholder="Email">
          </div>
          <button type="submit" class="btn btn-primary">Create contact</button>
        </form>
      </div>
    </div>
  </body>
</html>
