<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/our_style.css">
	<title>Deez Knights - Signup</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-default bg-light fixed-top">
		  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<a class="navbar-brand" href="#"><b>Deez Knights</b></a>
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<!-- Populate nav-bar -->
				<li class="nav-item">
				<a class="nav-link" href="/login"><b>Login</b></a>
				</li>
			<!--/.Populate nav-bar -->
			</ul>
		  </div>
		</nav>
    <div class="container" style="padding-top: 9%; display: flex; justify-content: center;">
      <div class="col-md-6">
        <form action="/signup" method="post">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" name="name" type="text" placeholder="Moose" />
          </div>
          <div class="form-group">
            <label for="userName">Username</label>
            <input class="form-control" name="userName" type="text" placeholder="John Doe" />
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input class="form-control" name="email" type="email" placeholder="Email address" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" name="password" type="password" placeholder="Password" />
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input class="form-control" name="confirmPassword" type="password" placeholder="Password" />
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block mt-3" type="submit" name="submit">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
